{#
vim:filetype=htmldjango:
#}
{% extends '@CRUD/edit.html.twig' %}

{% set currentFormId = uniqid('editForm') %}

{% block section_body %}
<div class="action-result-container"> </div>
<form id="{{currentFormId}}" class="ajax-action form-horizontal" enctype="multipart/form-data" method="POST">

    {{ RecordAction.renderSignatureWidget|raw }}
    {{ RecordAction.renderCSRFTokenWidget|raw }}

    {% if Record.hasKey() %}
        {{ RecordAction.renderKeyWidget|raw }}
    {% endif %}

    {{ RecordAction.renderField('name') |raw }}

    {{ RecordAction.renderField('handle') |raw }}

    {% if bundle.config('lang') %}
      {{RecordAction.renderField('lang')|raw}}
    {% endif %}

    <div class="clearfix">
      <div class="col-field">
        {{ RecordAction.renderField('width') |raw }}
      </div>
      <div class="col-field">
        {{ RecordAction.renderField('height') |raw }}
      </div>
    </div>

    {{ RecordAction.renderField('remark') |raw }}

</form>
{% endblock %}
